.breadcrumb-container {
    height: 22px;
	width: 182px;
	left: 196px;
	top: 28px;
	position: absolute;
}

.breadcrumb {
	position: absolute;
    height: 22px;
    left: 0%;
    right: 71.98%;
    top: calc(50% - 22px/2 + 4px);


    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    color: #000000;
}