.settings-container {
    height: 80px;
	width: 138px;
	left: 1266px;
	position: absolute;
}

.user-name {
	position: absolute;
	height: 17px;
	left: 0%;
	right: 48.55%;
	top: calc(50% - 17px/2 + 1.5px);
	

	font-size: 14px;
	line-height: 17px;
	/* identical to box height, or 121% */
	
	
	color: #000000;
	
	mix-blend-mode: normal;
	opacity: 0.5;
}

.icon-avatar {
	position: absolute;
    left: 57.25%;
    right: 16.67%;
    top: 27.5%;
    bottom: 27.5%;
    border-radius: 18px;
	width: 36px;
	height: 36px;
}

.icon-down {
	position: absolute;
	left: 90.4%;
	right: 5.25%;
	top: 47.5%;
	bottom: 45%;
	
	background: #000000;
	mix-blend-mode: normal;
	opacity: 0.2;

}